<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading">
  <mat-card-title>{{ post.title }}</mat-card-title>
  <img mat-card-image src="{{ post.imagePath }}" alt="" />
  <mat-card-content>{{ post.content }}</mat-card-content>
  <mat-card-content>Likes: {{ post.liked.length }}</mat-card-content>
  <mat-card-actions>
    <div class="like-unlike">
      <button
        *ngIf="userIsAuthenticated && !post.liked.includes(userId)"
        mat-button
        color="primary"
        (click)="OnLike(post.id)"
      >
        LIKE
      </button>
      <button
        *ngIf="userIsAuthenticated && post.liked.includes(userId)"
        mat-button
        color="primary"
        (click)="OnUnLike(post.id)"
      >
        UNLIKE
      </button>
    </div>
    <div
      class="auth-buttons"
      *ngIf="userIsAuthenticated && userId === post.creator"
    >
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">
        DELETE
      </button>
    </div>
  </mat-card-actions>
</mat-card>
<mat-card *ngIf="!isLoading && userIsAuthenticated">
  Comment:
  <form (ngSubmit)="comment()">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Comment text"
        [formControl]="text"
      />
      <mat-error *ngIf="text.invalid">Comment must not be empty</mat-error>
    </mat-form-field>
    <button mat-button type="submit">COMMENT</button>
  </form>
</mat-card>
<mat-card
  class="comment-wrapper"
  *ngIf="post.comments.length > 0 && !isLoading"
>
  <mat-card class="comment" *ngFor="let comment of post.comments">
    <div>
      <mat-card-content>{{ comment.text }}</mat-card-content>
    </div>
    <mat-card-actions>
      <button
        mat-button
        color="warn"
        *ngIf="comment.creator === userId"
        (click)="deleteComment(post.id, comment._id)"
      >
        DELETE
      </button>
    </mat-card-actions>
  </mat-card>
</mat-card>
